<div id="<%= dom_id archive %>">
  <p>
    <strong>Title:</strong>
    <%= archive.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= archive.description %>
  </p>


  <%= link_to "Edit this archive", edit_archive_path(archive) %> |

</div>
