<% content_for :title, "Editing archive" %>

<h1>Editing archive</h1>

<%= render "form", archive: @archive %>

<br>

<div>
  <%= link_to t("archive.show_this_archive"), @archive %> |
  <%= link_to t("archive.back_to_archives"), archives_path %>
</div>
