<% content_for :title, "New archive" %>

<h1><%= t("archive.new_archive") %></h1>

<%= render "form", archive: @archive %>

<br>

<div>
  <%= link_to t("archive.back_to_archives"), archives_path %>
</div>
