<% content_for :title, t("archive.new_archive") %>

<div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-lg">
  <h1 class="text-3xl font-semibold text-center text-gray-800 mb-6"><%= t("archive.new_archive") %></h1>

  <%= render "form", archive: @archive %>

  <div class="mt-6 text-center">
    <%= link_to t("archive.back_to_archives"), archives_path, class: "text-blue-500 hover:text-blue-700" %>
  </div>
</div>