<p style="color: green"><%= notice %></p>

<%= render "lenguages" %>

<%= render @archive %>
<% if @archive.url.present? %>
  <img src="<%= @archive.url %>" alt="Uploaded File">
  <% end %>

<div>

</div>
